
body {
  background: white;
  overflow: scroll;
}
h1 {
  font-family: Roboto,sans-serif;
  text-align: center;
}

h2 {
  font-family: Roboto,sans-serif;
  text-align: center;
}

.centrizer {
  max-width: 500px;
  max-height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.time-tabelcell {
  width: 20% !important;
  font-weight: bold !important;
}
.sections-overview-tablecell {
  width: 60%;

  div {
    text-align: center !important;
  }
}
.right-aligned {
  text-align: right !important;
}

.button {
  margin-top: 30px !important;
  width: 50% !important;
  margin-left: 25% !important;
}

.searchInput {
  width: 100% !important;
}

.datePicker {
  width: 30% !important;
  float: left;
  margin-right: 14px !important;
  div {
    width: 100% !important;
  }
}

.timePicker {
  width: 30% !important;
}

.arrivalToggle {
  width: 30% !important;
  float: left !important;
  margin-top: 38px !important;
  margin-right: 29px!important;
}

.sb-toggle {
  margin-top: 40px !important;
}